body {
	font-family: YakuHanJPs, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
}


.uk-navbar-container {
	background-color: #fff !important;
}

.mb-label-fix {
	margin-bottom: 4px;
}
.w120 {
	width: 120px;
}

.category-icon {
	color: #e60012;
}

.footer-container {
	background-color: #f2f2f2;
}
.footer-container .uk-navbar-container {
	background-color: #f2f2f2 !important;
}

footer > .uk-section {
	border-bottom: 1px solid #e6e6e6;
}

/* Style for swiper */
.slider-container {
	width: 100%;
	height: 540px;
	margin-right: auto;
	margin-left: auto;
	background-color: aquamarine;
}
.swiper-container {
	max-width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
}
.swiper-slide > p {
	/* ど真ん中に配置する */
	position: absolute; /* .swiper-slideにrelativeが付いてる */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.link-box {
	/* aタグをdiv全体に効かせる */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 80px;
}

.swiper-custom-button {
	background-color: #e60012;
	background-image: none !important;
	text-align: center;
	width: 40px !important;
	height: 104px !important;
}
.swiper-custom-button > .fas {
	color: #e6e6e6;
	line-height: 102px;
}

.swiper-button-prev.swiper-custom-button {
	left: 0;
}
.swiper-button-next.swiper-custom-button {
	right: 0;
}

.footer-top-level-link {
	padding: 5px 0;
	font-size: 1rem;
	font-weight: bold;
	color: #3c3c3c !important;
}

.header-bar {
	color: #3c3c3c;
	font-size: 21px;
	font-weight: bold;
}

.uk-navbar-nav > li > a {
	color: #3c3c3c;
	font-weight: bold;
}

.uk-nav-default > li > a {
	color: #3c3c3c;
}

/*
 会社案内
 */
.company .slider-container {
	height: auto;
	background-color: inherit;
}

.company .slider-container > div {
	position: relative;
}
.company .slider-container > div > h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;

	/* 上下中央寄せ */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.company .uk-nav-default > li > a {
	color: #999;
}
.company .uk-nav-default > li.uk-active > a {
	color: #333;
}
.company .uk-nav-default > li > a:focus, .company .uk-nav-default > li > a:hover {
	color: #666;
}

.tile-img-products {
	padding: 10px;
	border: 1px solid #333;
}
.tile-img-products img {
	width: 20vw;
}


/*
 製品情報
 */
.products .slider-container {
	height: auto;
	background-color: inherit;
}

.products .slider-container > div {
	position: relative;
}
.products .slider-container > div > h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;

	/* 上下中央寄せ */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.products .uk-nav-default > li > a {
	color: #999;
}
.products .uk-nav-default > li.uk-active > a {
	color: #333;
}
.products .uk-nav-default > li > a:focus, .products .uk-nav-default > li > a:hover {
	color: #666;
}

.tile-img-products {
	padding: 10px;
	border: 1px solid #333;
}
.tile-img-products img {
	width: 20vw;
}

.uk-list-custom {
	list-style-type: none;
}
.uk-list-custom li:not(:first-child) {
	margin-left: 10px;
}

/*
	ニュース
 */
.news .slider-container {
	height: auto;
	background-color: inherit;
}

.news .slider-container > div {
	position: relative;
}
.news .slider-container > div > h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;

	/* 上下中央寄せ */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.news .uk-nav-default > li > a {
	color: #999;
}
.news .uk-nav-default > li.uk-active > a {
	color: #333;
}
.news .uk-nav-default > li > a:focus, .news .uk-nav-default > li > a:hover {
	color: #666;
}

.news .uk-background-cover {
	background-image: none !important;
	background: linear-gradient(25deg, rgba(255, 190, 44, 0.4), rgba(255, 44, 171, 0.7)),url(imgs/news-main.jpg) !important;
	background-size: cover !important;
}